doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        //- meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Zoom Clone

        //- html기본요소들에 스타일입혀줌
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body
        header
            h1 Clone Coding 
        
        main
            div#welcome
                form 
                    strong 닉네임:
                    input#nickname(type="text", placeholder="닉네임을 입력하세요", required)
                    strong 방 이름:
                    input#roomname(type="text", placeholder="방이름을 입력하세요", required)
                    button(type="submit") Enter Room
                
                h4 현재 방 목록:
                ul#room_list
            
            div#room(style="display:none")
                h3

                ul 
 
                form
                    input#msg(type="text", placeholder="메세지를 입력하세요", required)
                    button 전송
            

        script(src="/socket.io/socket.io.js")
        script(src="/public/js/init.js")